.dropdown-item:hover {
  background-color: #6366F1 !important; /* Selected Item / Button Color */
  color: #F8FAFC !important;
}

.navbar-brand:hover {
  color: #94A3B8 !important; /* Secondary text tone for hover effect */
}
