.custom-table {
  background-color: #1a1a2e !important;
  color: #aaa !important;
}

.custom-table th {
  background-color: #0f3460 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.custom-table td {
  background-color: #1a1a2e !important;
  color: #aaa !important;
  border-color: #333 !important;
}
